.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animation-text {
  font-size: 3rem;
  font-weight: bold;
  animation: fade-in 1s ease-in;
}

.animate {
  animation: scale 2s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
